.ContactData {
    width: 80%;
    margin: auto;
    align-items: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid whitesmoke;
    padding: 10px;
    box-sizing: border-box;

    input {
        display: block;
    }
}