.Input {
    width: 100%;
    padding: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ccc;
    background-color: #eee;

    input {
        width: 100%;
    }
}